:root {
    --unitSize: 25px;
}

button {
    position: relative;
    border-radius: 5px;
    background-color: orange;
    border-width: 0px;

}

button:hover {
    background-color: orangered;
}

html {
    position: fixed;
    background-color: black;
    font-family: "Mona Sans", "MonaSansFallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

body {
    width: 100%;
    height: 100%;
}

.gridP1 {
    position: fixed;
    border-style: solid;
    height: calc(var(--unitSize)*20);
    top: calc(var(--unitSize)*10 - 6px);
    left: -5px;
    width: 100%;
    border-color: gray;
    position: relative;
    border-width: 5px;

    border-style: solid;
    background-image:
        repeating-linear-gradient(#181818 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, #181818 0 1px, transparent 1px 100%);
    background-size: calc(100%/10) calc(100%/20);
    z-index: -1;

}

.holdP1 {
    border-color: gray;
    position: fixed;
    border-width: 5px;
    top: calc(var(--unitSize) * 12 + 8px);
    left: calc(30% - (var(--unitSize) *8) - 25px);
    transform: translate(-30%, -50%);
    border-style: solid;
}
.dmgbarcontainerP1 {
    position: fixed;
    /*background-color: red;*/
    border-width: 0px;
    border-color: white;
    border-style: solid;
    height: 1000px;
    width: 10px;
    top: calc((var(--unitSize) * 30) + 8px);
    
    left: calc(30% - (var(--unitSize) * 6) + 9px);
    transform: translate(-30%, -100%);
    
}
.dmgbar {
   
    position: fixed;
    background-color: rgb(255, 0, 0);
    border-width: 0px;
    border-color: white;
    border-style: solid;
    height: 0px;
    width: 10px;
    bottom: 0px;
    
}

.appP1 {
    position: fixed;
    display: block;
    z-index: 1;
    
}

.bagP1 {
    border-color: gray;
    position: fixed;
    border-width: 5px;
    top: calc(var(--unitSize) * 10 + 3px);
    left: calc(30% + (var(--unitSize) *5));
    border-style: solid;
}

.playfieldP1 {
    left: 30%;
    
    top: 9px;
    
    
    position: absolute;
    transform: translate(-50%);
    width: calc(var(--unitSize)*10);
    height: calc(var(--unitSize)*30);

}

#settingsContainer {
    position: fixed;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    height: 500px;
    width: 200px;
    left: 20%;
    top: 20%;
    z-index: 1;
    background-color: #121212;
    padding: 10px;
}

#settingsContainer label {
    font-size: 150%;
}

#modal {
    display: none;
    position: fixed;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: gray;
    z-index: 2;
    text-align: center;
    font-size: 500%;
    vertical-align: middle;
}

.gridP2 {
    position: fixed;
    border-style: solid;
    height: calc(var(--unitSize)*20);
    top: calc(var(--unitSize)*10 - 6px);
    left: -5px;
    width: 100%;
    border-color: gray;
    position: relative;
    border-width: 5px;

    border-style: solid;
    background-image:
        repeating-linear-gradient(#181818 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, #181818 0 1px, transparent 1px 100%);
    background-size: calc(100%/10) calc(100%/20);
    z-index: -1;

}

.holdP2 {
    border-color: gray;
    position: fixed;
    border-width: 5px;
    top: calc(var(--unitSize) * 12 + 8px);
    left: calc(70% - (var(--unitSize) *8) + 20px);
    transform: translate(-50%, -50%);
    border-style: solid;
}

.appP2 {
    position: fixed;
    display: block;
    z-index: 1;
    
}

.bagP2 {
    border-color: gray;
    position: fixed;
    border-width: 5px;
    top: calc(var(--unitSize) * 10 + 3px);
    left: calc(70% + (var(--unitSize) *5));
    border-style: solid;
}

.playfieldP2 {
    left: 70%;
    top: 9px;
    position: absolute;
    transform: translate(-50%);
    width: calc(var(--unitSize)*10);
    height: calc(var(--unitSize)*30);

}

textarea {
    resize: none;
    padding-top: 10px;
}

.sdpContainer {
    overflow: none;
    width: 15%;
}

.dmgbarcontainerP2 {
    position: fixed;
    /*background-color: red;*/
    border-width: 0px;
    border-color: white;
    border-style: solid;
    height: 1000px;
    width: 10px;
    top: calc((var(--unitSize) * 30) + 8px);
    
    left: calc(70% - (var(--unitSize) * 6) + 9px);
    transform: translate(-70%, -100%);
    
}
.dmgbar {
   
    position: fixed;
    background-color: rgb(255, 0, 0);
    border-width: 0px;
    border-color: white;
    border-style: solid;
    height: 0px;
    width: 10px;
    bottom: 0px;
    
}